body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
}

h1 {
    margin: 0;
    padding: 0.5em;
    font-family: Tahoma, Geneva, sans-serif;
}

#header {
    width: 100%;
    -webkit-box-shadow: 0 0 12px 5px rgba(75,54,37,1);
    -moz-box-shadow: 0 0 12px 5px rgba(75,54,37,1);
    box-shadow: 0 0 12px 5px rgba(75,54,37,1);
}

#headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a:link,  a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: white;
    text-decoration: underline;
}

.shadowText {
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

.options {
    align-self: flex-end;
    min-width: 16em;
}

.options div {
    float: right;
    max-width: 7em;
    margin-right: 1em;
}

.options select {
    margin-top: 5px;
    width: 100%;
}

.infoPanel {
    float: left;
    width: calc(256px + 2em);
    padding-left: 1em;
    margin-top: 1em;
}

.fieldHeader {
    font-weight: bold;
}

.field {
    min-height: 1.2em;
    width: 15em;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

#name {
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    margin-left: 0.5em;
    min-height: 1em;
    margin-bottom: 0.5em;
    font-size:1.5em;
}

#marker {
    border: 1px solid red;
    position: absolute;
    display: none;
}

#resourceDomainOverlay {
    /*position: relative;*/
    position: absolute;
    top: 0px;
    left: 0px;
}

#singleImageContainer {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-box-shadow: 0 0 12px 5px rgba(75,54,37,1);
    -moz-box-shadow: 0 0 12px 5px rgba(75,54,37,1);
    box-shadow: 0 0 12px 5px rgba(75,54,37,1);
    background: #808080;
}

#singleImage {
    width: 256px;
    height: 256px;
}

#sheetContainer {
    width: calc(100% - 256px - 2em);
    left: calc(256px + 2em);
    margin-top: 1em;
    height: calc(100% - 9em);
    position: absolute;
    overflow: auto;
}

#headerContainer {
    background-repeat: repeat-x;
}

#loading {
    float: right;
    margin-right: 1em;
}

#credits {
    width: 100%;
    height: 1em;
    text-align: center;
    position: absolute;
    bottom: 0.1em;
}

#modPercentage {
    margin-top: 3px;
    font-size: 80%;
    min-height: 1em;
}
