body {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABCklEQVRYhc2WvQ7DIAyEM2ZAqcrgVLLULe//iHRypBw6nTuZgQGwnQ//Zru8j8v7+NrrsT7v9lhZud720dtO9XG/lQPEQRhkBuLe3Ye7T3IIyM5DL1Y9ALoGXcnumWuZHWavHiBcY2bDzCYBFhqVlCoU6wGgYijEh1nZMcB4kJKrB8BkUS7FpGJly85pIyoDUGUUjYcZYC2WJTPu6wGUYTV8MDRZ+XUAlCDbY5KpDzO9egDVKFBRlVc2WaccWAYgW2YIjPIsKbGs6wGy5cJcGEOHJSEbZvcvWTmAElQg/y4M1ToALBRnP8bZD9lwMBmzv3D1AMoQnjM5NX7ZA9YDUGMYG4kaQipk5QA/rvXrNZ+OLfIAAAAASUVORK5CYII=');
}

#header {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABEUlEQVRYhc2WPQ6DMAyFOQRrGZA6NWL0gDqRsWfg/sdwJ1fioafnTs6QIYltvviX6Tw2P4/NP/a8rPfrcVlZubbM3paZ6uN+KgeIgzDIDMR979177zc5BGTnoRerHgBdg65k98y1zA6zVw8QrjEzN7ObAAuNSkoVivEAUDEU4sOs7BhgPEjJ1QNgsiiXYlKxsmXntBGVAagyisbDDLAWy5IZ9/UAyrAaPhiarPw4AEqQ7THJ1IeZXj2AahSoqMorm6y3HBgGIFtmCIzyLCmxrOsBsuXCXBhDhyUhG2a/X7JyACWoQP5dGKpxAFgo9rb63lbZcDAZs79w9QDKEJ4zOTV+2QPGA1BjGBuJGkIqZOUAX1kSTo8tQHcyAAAAAElFTkSuQmCC');
}

#sheetContainer {
    background-color: rgba(0,0,0,0.25);
}

#sheetContainer img {
    background: #808080;
}

#headerContainer {
    background-repeat: repeat-x;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB60lEQVRYhc2W207CQBCGfQcMFwpYDiUoRVssyzEBbQiQJqZysmCQEhLe/w1+L8yscclk8Wp7MUlnOjP7TWd2t1e9rY3e1kb/s4r+ZxXdTQXdTQXPi8If6cRldOIy3OgGbnQDsS5CrIsY7h8w3D/I+NbKQmtlwV8UfmRlwV9ZcKMc3CiH2jSD2jSD9kcR7Y8irowD9Lc2+ltbJhzvGhjvGhjFNYziGl4293jZ3MMpXMMpXMNf3sFf3sF7z8F7z0mg2cHD7OBhmriYJq4shBam/ATWWltora0UAEy+njD5epILvJ0E3k4CzXkezXlefkJ6T60gnVo4SuoYJXXMEg+zxEN49BEefennhFk4YRZudAs3upV28wD0IISAEOI3QC5YQSeunNlJqAWk03CRPqjnMajnz+LIbh4gFDZCYUsD6bvXR+xeH2WA6sclVgtS86YPQE1EjhwYtyAHptpJqEDzAPTAOQZBgCAI2ARqPGfnCjIPoEvMtYRrzaX+6QHQOXK6OmS6hbk48wC6g0IN1G2vS4f1bAZSA3DpNlOBVX9uKNVtbR7g0u3CfUK6dLgh5C4z+UNiHEDnqAP5r6itSg8A14qeU0LPKWkPHHUY1e3KHe3mAXSJVDvnp7t+uQLSB6C7htWDRHcJ6VpmHOAbl8hSSxtZI0IAAAAASUVORK5CYII=');
}
